@model DeKrekelGroup5.ViewModel.MainViewModel
<div class="loginbox">
    <div class="message-error">@TempData["error"]</div>
   Bent u zeker dat u wil uitloggen?
</div>

<div id="bottom">
    <button type="submit" class="button green"><img src="~/Images/tick.png">Uitloggen!</button>
    <a href="#" class="button red close" id="closeFrame"><img src="~/Images/cross.png">Terug!</a>
</div>
<script>
    $(document).ready(function() {

        $("#closeFrame").click(function(e) { 
            $("#modal").hide(600);
            $(".reveal-modal-bg").remove();
        });
    });
</script>