@model DeKrekelGroup5.ViewModel.MainViewModel
<div class="loginbox">
    @TempData["success"]
</div>

<div id="bottom">
    <a href="#" class="button green close" id="closeFrameOk"><img src="~/Images/tick.png">Ok!</a>
</div>
<script>

    $(document).ready(function() {
        $("#closeFrameOk").click(function(e) {
            $("#infomodal").hide(600);
            $(".reveal-modal-bg").remove();
            window.location.reload();
        });
    });

</script>