@model DeKrekelGroup5.ViewModel.MainViewModel
<div class="loginbox">
    @TempData["success"] @Model.loginViewModel.Username!
</div>

<div class="bottom">
    <a href="#" class="button green close" id="closeFrame"><img src="~/Images/tick.png">Ok!</a>
</div>

<script>
    $(document).ready(function() {

        $("#closeFrame").click(function(e) { 
            $("#modal").hide(600);
            $(".reveal-modal-bg").remove();
        });
    });
</script>