@model DeKrekelGroup5.ViewModel.BoeksIndexViewModel

@{
    ViewBag.Title = "Index";
}

<div id="content">
    <div id="searchBar">
        @using (Ajax.BeginForm("Index",
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "Get",
            UpdateTargetId = "Boeken"//,
            //OnComplete = "clearMessage"
        }
        ))
        {
            <input type="search" name="search" id="search" value="zoek een boek" />
            <input type="submit" value="Search in all products" class="btn btn-default" />
        }
            @Html.ActionLink("Create New", "Create")
       
    </div>

        <div id="Boeken">
            @Html.Partial("BoekenLijst", Model)
        </div>
    </div>