@model DeKrekelGroup5.ViewModel.BoekenLijstViewModel

@{
    ViewBag.Title = "Boekenlijst";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Ajax.BeginForm("Index",
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "Get",
            UpdateTargetId = "Boeken"//,
            //OnComplete = "clearMessage"
        }
        ))
{
    <input type="search" name="search" id="search" />
    <input type="submit" value="Search in all products" class="btn btn-default" />
}

<div  id="Boeken">
    @Html.Partial("BoekenLijst", Model)
</div>
