@model DeKrekelGroup5.ViewModel.BoekenLijstViewModel

@{
    ViewBag.Title = "Index";
}

<div id="content">
    <div id="searchBar">
        @using (Ajax.BeginForm("Index",
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "Get",
            UpdateTargetId = "Boeken"//,
            //OnComplete = "clearMessage"
        }
        ))
        {
            <input type="search" name="search" id="search" value="zoek een boek" />
            <input type="submit" value="Zoek item" class="btn btn-default" />
        }
        @*@Html.ActionLink("Create New", "Create")*@
        <a href=' @Url.Action("create") '><img src="~/Images/create.gif" /></a>

    </div>

    <div id="Boeken">
        @Html.Partial("BoekenLijst", Model)
    </div>
</div>
