@model DeKrekelGroup5.ViewModel.BoeksIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*@section scripts {
    <script>
        function showMessage(data) {
            $("#added").html(data).show();
        }
        function clearMessage() {
            $("#added").html("").hide();
        }

        function clearMessageAndSearch() {
            clearMessage();
            clearSearch();
        }

        function clearSearch() {
            $("#search").val("");
        }
    </script>
}*@
<div id="added"></div>

@using (Ajax.BeginForm("Index",
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "Get",
            UpdateTargetId = "Boeken"//,
            //OnComplete = "clearMessage"
        }
        ))
{
    <input type="search" name="search" id="search" />
    <input type="submit" value="Search in all products" class="btn btn-default" />
}

<div  id="Boeken">
    @Html.Partial("BoekenLijst", Model)
</div>
