@model DeKrekelGroup5.ViewModel.MainViewModel
 
<div id="content">
    <table>
        <tr>
            <td>
                <div id="searchBar">
                    @using (Ajax.BeginForm("Index",
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "Get",
                            UpdateTargetId = "Boeken" //,
                            //OnComplete = "clearMessage"
                        }
                        ))
                    {
                        <input type="search" name="search" id="search" value="zoek een boek"/>
                        <input type="submit" value="Zoek item" class="btn btn-default" id="searchSubmit"/>
                        }
                    @*@Html.ActionLink("Create New", "Create")*@


                </div>
            </td>
            <td>
                <a href=' @Url.Action("create") '><img src="~/Images/create.gif" class="createNew"/></a>
            </td>
        </tr>

    </table>
    <div id="Boeken">
        @Html.Partial("BoekenLijst", Model)
    </div>
</div>
