@model DeKrekelGroup5.ViewModel.SpellenLijstViewModel

@{
    ViewBag.Title = "Spellenlijst";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Ajax.BeginForm("Index",
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "Get",
            UpdateTargetId = "Spellen"//,
            //OnComplete = "clearMessage"
        }
        ))
{
    <input type="search" name="search" id="search" />
    <input type="submit" value="Search in all products" class="btn btn-default" />
}

<div  id="Spellen">
    @Html.Partial("SpellenLijst", Model)
</div>
