@model DeKrekelGroup5.ViewModel.MainViewModel
@Styles.Render("~/Content/uploadfile.css")
@Scripts.Render("~/bundles/jquery")

    @if (Model.SpelCreateViewModel == null || string.IsNullOrEmpty(Model.SpelCreateViewModel.Spel.image))
    {
        if(Model.SpelViewModel == null|| string.IsNullOrEmpty(Model.SpelViewModel.image))
        {
            <img src="~/Images/krekelFoto.png" alt="krekelSchool" id="picItem" />
        }
        else
        {
            <img src="@Url.Content("/FTP/Images/"+Model.SpelViewModel.image)" alt="Model.SpelCreateViewModel.Spel.image" style="max-width: 70%" />
        }
    }
    else
    {
        <img src="@Url.Content("/FTP/Images/"+Model.SpelCreateViewModel.Spel.image)" alt="Model.SpelCreateViewModel.Spel.image" style="max-width: 70%"/>
    }
    
    <div id="multiplefileuploader"></div>
    <div id="status"></div>




<div id='uploadfiles'></div>