@model DeKrekelGroup5.ViewModel.MainViewModel
@Styles.Render("~/Content/uploadfile.css")
@Scripts.Render("~/bundles/jquery")

    @if (Model.VertelTasCreateViewModel == null || string.IsNullOrEmpty(Model.VertelTasCreateViewModel.Verteltas.image))
    {
        if(Model.VertelTasViewModel == null|| string.IsNullOrEmpty(Model.VertelTasViewModel.image))
        {
            <img src="~/Images/krekelFoto.png" alt="krekelSchool" id="picItem" />
        }
        else
        {
            <img src="@Url.Content("/FTP/Images/"+Model.VertelTasViewModel.image)" alt="Model.VertelTasCreateViewModel.Verteltas.image" style="max-width: 70%" />
        }
    }
    else
    {
        <img src="@Url.Content("/FTP/Images/"+Model.VertelTasCreateViewModel.Verteltas.image)" alt="Model.VertelTasCreateViewModel.Verteltas.image" style="max-width: 70%"/>
    }
    
    <div id="multiplefileuploader"></div>
    <div id="status"></div>




<div id='uploadfiles'></div>