@model DeKrekelGroup5.ViewModel.ItemsViewModel

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create", new { item = "boek" })
</p>

@using (Ajax.BeginForm("Index",
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "Get",
            UpdateTargetId = "Items"//,
            //OnComplete = "clearMessage"
        }
        ))
{
    <input type="search" name="search" id="search" />
    <input type="submit" value="Search in all products" class="btn btn-default" />
}

<div>
    @Html.Partial("ItemsLijst", Model)
</div>
