@model DeKrekelGroup5.ViewModel.MainViewModel
<div id="heading">
   @Model.loginViewModel.Username Login:
</div>

<div id="contentLogin">

    @if (@Model.loginViewModel.Username == "Beheerder")
     {
         <img src="~/Images/admin.png" class="tinyImg"/>
     }
    @if (@Model.loginViewModel.Username == "Bibliothecaris")
     {
         <img src="~/Images/guest.png" class="tinyImg"/>
     }
     
 @using (Ajax.BeginForm("Login",
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "Post",
                            UpdateTargetId = "LoginDiv"
                        }
                        ))
 {
    <div id="LoginDiv">
        @Html.Partial("_LoginPartial", Model) 
    </div>
 }
</div>
