@{
    ViewBag.Title = "Logout";
}

<div id="content">
    <div id="logout">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <h4>Bent u zeker dat u wilt uitloggen?</h4>


                <div>
                    @Html.ActionLink("Ja", "LogoutConfirmed")    <!-- Te veranderen in Images!-->
                </div>
                <div>
                    @Html.ActionLink("Back to previous page", null, null, null, new { href = Request.UrlReferrer })<!-- Werkt nog niet -  Te veranderen in Images!-->  
                </div>

            </div>
        </div>
    </div>
</div>