@model DeKrekelGroup5.ViewModel.MainViewModel
<div id="heading">
    @Model.loginViewModel.Username Logout:
</div>

<div id="contentLogin">

    @if (@Model.loginViewModel.Username == "Beheerder")
    {
        <img src="~/Images/admin.png" class="tinyImg" />
    }
    @if (@Model.loginViewModel.Username == "Bibliothecaris")
    {
        <img src="~/Images/guest.png" class="tinyImg" />
    }

    @using (Ajax.BeginForm("Logout",
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "Post",
                            UpdateTargetId = "LogoutDiv"
                        }
                        ))
    {
        <div id="LogoutDiv">
            @Html.Partial("_LogoutPartial", Model)
        </div>
    }
</div>