
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5-mrt-2015, 0:58:57
    Author     : Jonas
*/



html { 
  background: url("../images/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header {
    min-height: 50px;
    height: 50px;
}

h2 {
    font-size: 50px;
}
h4 {
    margin: 10px;
    text-align: center;
}
a:link{
    text-decoration:none;
    color:#fffaf0;
}
a:visited {
    color:#fffaf0;
    text-decoration:none;
}
dt{
    background-color: greenyellow;
    border-radius: 5px;
    padding-left: 5px;
    width: 100px;
}
dd{
    background-color: #FFFAF0;
    border-radius: 5px;
    padding-left: 5px;
    margin-right: 50px;
}
#BookCover{
    
}

.tinyImg {
    display: block;
    padding-top: 10px;
     width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}
.icon {
     width: 20px;
    height: 20px;
    padding: 0px;
    margin:0px;
}

.bigIcon {
     width: 30px;
    height: 30px;
}

.editLabel{
    background-color: greenyellow;
    border-radius: 5px;
    padding-left: 5px;
    width: 100px;

}
input[type=text]{
    border-radius: 5px;
    padding-left: 5px;
    margin-left: 0px;
    height: 25px; 
    width: 100%;
    min-width: 50px; 
    border-radius: 5px;
}
input[type=checkbox] {
    padding:15px 20px; 
    border-radius:50px;
    -webkit-appearance:button;
    border: double 5px #fffaf0;
    background-color:red;
    color:#FFF;
    white-space: nowrap;
    overflow:hidden;
    width:15px;
    height:15px;
}

input[type=checkbox]:checked {
    background-color:#B3D524;
    border-left-color:#B3D524;
    border-right-color:#B3D524;
}

input[type=number]{
    border-radius: 5px;
    padding-left: 5px;
    margin-left: 0px;
    height: 25px; 
    width: 100%;
    min-width: 50px; 
    border-radius: 5px;
}
input[type=file]{
    border-radius: 5px;
    padding-left: 5px;
    margin-left: 0px;

    
}
#beschikbaar{
    border-radius: 5px;
    padding-left: 5px;
    margin-left: 0px;
    
}
.beschikbaarheid{
/*    background-color:  green;*/
}

/*input[type=submit]{
    border-radius: 5px;
    padding-left: 5px;
    margin-top: 30px;
    margin-left: 200px;
    width:20%;
}*/


#krekel{
    float: left;
}
#krekelImg img{
    height: 110px; 
    float: left;
}
#krekelLink{
    font-size: 20px;
    color: #fffaf0;
    font-family: cursive;
}

#navBar{
    background-color: #B3D524;  
    float:right;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;

    margin-right: 25px;
}
#navBar img{
   width: 40px;
    height: 40px;
    padding: 0px 10px;
}

#titel{
    text-align: center;
    color: #fffaf0;
    font-family: cursive;
}
#subtitel{ 
    color: #fffaf0;
    font-size: 20px;
    font-family: cursive;
}

#wrapper{
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

#content{
    clear: both;
    width: 80%;
    margin: auto;
    padding-bottom: 35px;
}

#searchBar{
   width: 100%;
}
#search{
    margin:10px;
    margin-left: 0px;
    width: 25%;
    height: 40px;
    min-width: 150px;
    border-radius: 5px;
}

.btn {
    margin:10px; 
    height: 40px;
}
.createNew{
    float: right;
    
}
table {
    width: 100%;
}

.table{
    
    border-collapse: collapse;
    border-radius: 10px;
    width: 100%;
    background-color: #fffaf0;
    padding: 20px;
}
th{
    text-align: left;
    background-color: #B3D524;
    padding: 5px;
    
}
td select{
    width: 90%;
}




.vertelTasItem{
    
    border-radius: 10px;
    display: inline-block;
    background-color: #fffaf0;
    width: 20%;
    padding: 5px;
    border-collapse: collapse;
}

.vertelTasItem img{
    width: 20px;
    height: 20px;
    float: right;
}

footer {
    color: #fffaf0;
    position:inherit;
    margin-top: 30px;
    bottom: 0;
            width:100%;
    float: left;

}

div#leftCol {
    width: 20%;
    float: left;
    height: 500px;
    overflow:hidden;
}
div#mainCol {
    width: 60%; 
    height: 100%;
    float:left;
    overflow:hidden;
}
table#details {
    border-spacing: 10px 20px;       
}
.td1 {
     background-color: greenyellow;
    border-radius: 5px;
    border-collapse: separate;
    border-spacing: 20px 20px;
    column-gap: 20px;
    padding: 5px;
    margin: 50px;
    color: #000000;
    width: 15%;
    min-width: 100px;
    vertical-align: top;
}

.td2 {
    padding: 5px 0px 5px 5px;
    margin: 0px;
    padding-left: 10px;
    background-color: #fffaf0;
    border-radius: 5px;
    height: 10px;
    width: 50%;
    min-width: 40%; 
}

.gray{ 
    background-color: lightgray;
}

.floatRight {
    float: right;
}
textarea {
    height: 100px;
    width: 100%;
    border-radius: 5px;
}
select {
    width: 100%;
    height:30px;
    border-radius: 5px;
}

#modal {
	width:360px;
	height:180px;
	padding:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;

	position:absolute !important;
	top:50% !important;
	left:50% !important;
	margin-top:-94px !important;
	margin-left:-180px !important;
	z-index:101;
}.hidden {
    visibility: hidden;
     display: block;
}
.show {
    visibility: visible;
    display: block;
}
.bottom {
    margin-top: 25px;
    margin-bottom: 10px;
}

#heading {
	width:360px;
	height:44px;

	background-image: -webkit-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
	background-image: -moz-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
	background-image: -o-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
	background-image: -ms-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
	background-image: linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9f9f9', EndColorStr='#e9e9e9');

	border-bottom:1px solid #bababa;

	-webkit-box-shadow:
		inset 0px -1px 0px #fff,
		0px 1px 3px rgba(0,0,0,.08);
	-moz-box-shadow:
		inset 0px -1px 0px #fff,
		0px 1px 3px rgba(0,0,0,.08);
	box-shadow:
		inset 0px -1px 0px #fff,
		0px 1px 3px rgba(0,0,0,.08);

	-webkit-border-radius:4px 4px 0px 0px;
	-moz-border-radius:4px 4px 0px 0px;
	border-radius:4px 4px 0px 0px;

	font-size:14px;
	font-weight:bold;
	text-align:center;
	line-height:44px;

	color:#444444;
	text-shadow:0px 1px 0px #fff;
}
div#heading img {
    float: left;
}
div#contentLogin span {
    margin: 15px;
}

#contentLogin {
    width:360px;
    height:100px;
 
    background:#fcfcfc;
 
    -webkit-box-shadow:0px 1px 3px rgba(0,0,0,.25);
    -moz-box-shadow:0px 1px 3px rgba(0,0,0,.25);
    box-shadow:0px 1px 3px rgba(0,0,0,.25);
 
}

.submit-button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
   font-weight: bold;
	padding: 15px 20px;
	cursor:pointer;
	line-height:20px;
	height:100%;
    width: 90%;
	margin:0 10px 10px 0;
  display: inline-block;
  background: #fff;
  border: 1px solid #e8e8e8;
  color: #888;
  text-decoration: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 2px 0 0 #e8e8e8;
  -webkit-box-shadow: 0 2px 0 0 #e8e8e8;
  box-shadow: 0 2px 0 0 #e8e8e8; 
  padding: 6px 10px 4px 10px; 
  color: #fff;
  background: #B3D524;
  border: none;
  -moz-box-shadow: 0 2px 0 0 #cfff00;
  -webkit-box-shadow: 0 2px 0 0 #cfff00;
  box-shadow: 0 2px 0 0 #cfff00; 
  vertical-align:middle;  
  }
  
.submit-button:hover {
      background: #3396c9;
      -moz-box-shadow: 0 2px 0 0 #15719f;
      -webkit-box-shadow: 0 2px 0 0 #15719f;
      box-shadow: 0 2px 0 0 #15719f;
}

#contentLogin span {
    font-size:13px;
    font-weight:normal;
    text-align:left;
    line-height:22px;
    color:#555555;
    width:100%;
    float: left;
    margin:0px 15px;

}

#bottom {
    width:360px;
    height:50px;
 
    background:#fcfcfc;
 
    
    -webkit-border-radius:0px 0px 4px 4px;
    -moz-border-radius:0px 0px 4px 4px;
    border-radius:0px 0px 4px 4px;
}

.button {
    width:138px;
    height:33px;
 
    font-size:13px;
    font-weight:bold;
    line-height:33px;
 
    color:#fff;
    text-shadow:0px 1px 0px rgba(0,0,0,.2);
 
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
 
    -webkit-box-shadow:
        inset 0px 1px 0px rgba(255,255,255,.5),
        0px 1px 2px rgba(0,0,0,.3);
    -moz-box-shadow:
        inset 0px 1px 0px rgba(255,255,255,.5),
        0px 1px 2px rgba(0,0,0,.3);
    box-shadow:
        inset 0px 1px 0px rgba(255,255,255,.5),
        0px 1px 2px rgba(0,0,0,.3);
    float: left;

}
.button img {
    float:left;
    width:33px;
    height:33px;
}
 #searchSubmit { 
    background: -webkit-linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
    background: -moz-linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
    background: -o-linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
    background: -ms-linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
    background: linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aad44f', endColorstr='#609d29',GradientType=0 );
     font-size: larger;
     font-style: oblique;
    border:1px solid #5b8821;
     margin-top: auto;
    padding: 10px;
    margin: 0px;
     border-radius: 5px;
    color:#fffaf0
    
}
 
 
.button.green {
    background: -webkit-linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
    background: -moz-linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
    background: -o-linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
    background: -ms-linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
    background: linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aad44f', endColorstr='#609d29',GradientType=0 );
    font-family: arial;
    font-size: 13px;
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
    border:1px solid #5b8821;
    float: left;
    margin:-10px 5px 10px 15px;
}


.button.green:hover {
    background: -webkit-linear-gradient(top,  rgba(231,255,79,1) 0%,rgba(190,225,79,1) 90%,rgba(170,215,65,1) 95%,rgba(150,195,45,1) 100%);
    background: -moz-linear-gradient(top,  rgba(231,255,79,1) 0%,rgba(190,225,79,1) 90%,rgba(170,215,65,1) 95%,rgba(150,195,45,1) 100%);
    background: -o-linear-gradient(top,  rgba(231,255,79,1) 0%,rgba(190,225,79,1) 90%,rgba(170,215,65,1) 95%,rgba(150,195,45,1) 100%);
    background: -ms-linear-gradient(top,  rgba(231,255,79,1) 0%,rgba(190,225,79,1) 90%,rgba(170,215,65,1) 95%,rgba(150,195,45,1) 100%);
    background: linear-gradient(top,  rgba(231,255,79,1) 0%,rgba(190,225,79,1) 90%,rgba(170,215,65,1) 95%,rgba(150,195,45,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E7FF4F', endColorstr='#96C32D',GradientType=0 );
 
    border:1px solid #5b8821;
    float: left;
    margin:-10px 5px 10px 15px;
}


.button.red {
    background: -webkit-linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
    background: -moz-linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
    background: -o-linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
    background: -ms-linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
    background: linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f87288', endColorstr='#ce3b46',GradientType=0 );
 
    border:1px solid #b0333e;
    float: right;
    margin:-10px 15px 10px 35px;
}
.reveal-modal-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    background: rgba(0,0,0,.4);
    z-index: 100;
    top: 0;
    left: 0;
}
#Username {
    height: 0px;
    width: 0px;
    margin: 0px;
    padding: 0px;
}
.loginbox {
    margin:0px 5px 10px 35px;
}

.message-error {
    color: #ce3b46;
    font-style: oblique;
    margin: 0px;
}
#picItem { 
        max-width: 200px;
        max-height: 250px;
    }


@media only screen and (max-width: 767px) {
         
    #modal {
        width:284px;
        height:156px;
        padding:8px;
 
        margin-left:-150px !important;
        margin-top:-78px;
    }
    #heading {
        width:284px;
        height:28px;
 
        line-height:28px;
        font-size:0.688em;
    }
    #content {
        width:284px;
        height:128px;
    }
    #content p {
        width:284px;
        font-size:0.688em;
    }
    .button img {
        width:23px;
        height:23px;
    }
    .button {
        width:108px;
        height:23px;
 
        line-height:23px;
        font-size:0.688em;
    }
    .button.green {
        margin:0 4px 0 28px !important;
    }
    .button.red {
        margin:0 28px 0 4px !important;
    }
    
}
	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0,0,0,.8);
		z-index: 100;
		display: none;
		top: 0;
		left: 0; 
		}
	
	.reveal-modal {
		visibility: hidden;
		top: 100px; 
		left: 50%;
		margin-left: -300px;
		width: 520px;
		background: #eee url(modal-gloss.png) no-repeat -200px -80px;
		position: absolute;
		z-index: 101;
		padding: 30px 40px 34px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
		
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 


.form-control:-moz-placeholder {
  color: #999999;
}

.form-control::-moz-placeholder {
  color: #999999;
}

.form-control:-ms-input-placeholder {
  color: #999999;
}

.form-control::-webkit-input-placeholder {
  color: #999999;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}

textarea.form-control {
  height: auto;
}



.has-warning .form-control {
  border-color: #c09853;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-warning .form-control:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}



.has-error .form-control {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .form-control:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.has-success .form-control {
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-success .form-control:focus {
  border-color: #356635;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}

.has-success .input-group-addon {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847;
}

.form-control-static {
  padding-top: 7px;
  margin-bottom: 0;
}

  .form-inline .form-control {
    display: inline-block;
  }
  
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  height: 45px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

select.input-group-lg > .form-control,
select.input-group-lg > .input-group-addon,
select.input-group-lg > .input-group-btn > .btn {
  height: 45px;
  line-height: 45px;
}

textarea.input-group-lg > .form-control,
textarea.input-group-lg > .input-group-addon,
textarea.input-group-lg > .input-group-btn > .btn {
  height: auto;
}

.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

select.input-group-sm > .form-control,
select.input-group-sm > .input-group-addon,
select.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  line-height: 30px;
}

textarea.input-group-sm > .form-control,
textarea.input-group-sm > .input-group-addon,
textarea.input-group-sm > .input-group-btn > .btn {
  height: auto;
}

.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell;
}

.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}


.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
  .navbar-form .form-control {
    display: inline-block;
  }
  .input-group .form-control {
  width: 100%;
  margin-bottom: 0;
}

  .text-danger {
      float: left;
  color: red;
}
