@{
    ViewBag.Title = "Home Page";
}

<div id="wrapper">
    

    <div id="content">
        <div id="titel">
            <h1>De Lettertuin</h1>
        </div>

        <div id="categories">
            <table class="indexTable">
                <tr>
                    <td>
                        <a href="~/Views/Boeken/Index.cshtml"><img src="images/Book.png" alt="books"></a>
                    </td>
                    <td>
                        <a href=""><img src="images/cd.png" alt="cds"></a>
                    </td>
                    <td>
                        <a href=""><img src="images/dvd.png" alt="dvds"></a>
                    </td>
                    <td>
                        <a href=""><img src="images/spel.png" alt="spellen"></a>
                    </td>
                    <td>
                        <a href=""><img src="images/vertelTas.png" alt="vertelTassen"></a>
                    </td>
                </tr>
                
            </table>
        </div>
    </div>
</div>

 